# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
vk_music_saver.spec

# PyInstaller
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/
ENV/

# Project specific
data/
chromedriver/
selenium_cache/
*.log
*.db
chrome_profile/

